<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Emergency Contact | PHINMA UI iCare</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/emergency.css') }}">
</head>
<body>
        <header>
        <nav class="header-container">
                  <div class="nav-left">
                  <img src="{{ url_for('static', filename='images/headerLogo.jpg') }}" alt="Header Logo">
                  <img src="{{ url_for('static', filename='images/iCareLogo.jpg') }}" alt="Header Logo">
                </div>
        </nav>
        </header>
        <main>s
          <section class="emergency-features">
          <div class="emergency-card">
            <i>🚑</i>
            <div class="content">
              <h3>Emergency Hotline</h3>
              <p>Quick response for urgent medical situations.</p>
              <a href="#" class="call-btn">Call Now</a>
            </div>
          </div>
          <div class="emergency-card">
            <i>🏥</i>
            <div class="content">
              <h3>Clinic Consultation</h3>
              <p>Easy access to student & staff health services.</p>
              <a href="#" class="call-btn">Call Now</a>
            </div>
          </div>
          <div class="emergency-card">
            <i>🛡️</i>
            <div class="content">
              <h3>Security Assistance</h3>
              <p>Campus safety support anytime you need it.</p>
              <a href="#" class="call-btn">Call Now</a>
            </div>
          </div>
          <div class="emergency-card">
            <i>🚨</i>
            <div class="content">
              <h3>Fire / Disaster Help</h3>
              <p>Immediate action team in case of emergencies.</p>
              <a href="#" class="call-btn">Call Now</a>
            </div>
          </div>
        </section>
       </main>
  <footer>
        <p>&copy; 2025 PHINMA UI iCare | All Rights Reserved.</p>
  </footer>
</body>
</html>
